
.tittle{
    text-align: center;
    color: rgb(250, 251, 252);
    font-family: Arial, sans-serif; 
    background-color: rgb(2, 28, 37);
}
.btrec{
    display: inline-block; 
    padding: 10px 20px; 
    font-weight: bold;
    text-align: center; 
    color: #ffffff; 
    background-color: rgb(2, 28, 37); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    
}

.butt{
    text-align: center; 
    font-family: Arial, sans-serif; 
    background-color: #bce5f5; 
    color: rgba(1, 41, 75, 0.952);
}

